*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(images/honkai-star-rail-firefly-honkai-star-rail-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Kosugi Maru", sans-serif;
    z-index: -99;
  }

nav{
    background: #2e2e30;
    height: 80px;
    width: 100%;
}
.lower-bg-opacity::after{
    content: "";  
    position: absolute;
    isolation: isolate;
    z-index: -99;
    inset:  0;
    background:black; 
    opacity: 0.3;
  }
  .linear-text-gradient-welcome {
    background: linear-gradient(to right, rgb(6, 245, 245), #ff04ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container{
        width: 965px;
        height: 637px;
        margin: 100px auto;
        padding: 190px 50px;
        background: url(images/pixel_box.png);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 1;
        /*border: 2px solid red; /* Temporary border to make sure it’s visible */
    }

.img_dec1{
    float: left;
    margin-right: 10px;
}
.container h2{
    top:  20%;
    margin: -10px;
    padding: 10px;
    font-size: 65px;
    text-align: center;
}
.container br{
    margin: 1px;
}
.container p{
    font-size: 22px;
    top: 20%;
    margin: 10px;
    text-align: left;
    -webkit-text-fill-color: rgb(94, 85, 85);

}
h1{
      font-size: 60px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
  }
    
h2{
      -webkit-text-fill-color: rgb(17, 231, 238);
    }
a{
      -webkit-text-fill-color: rgb(244, 248, 248);
    }


::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: blueviolet;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(blueviolet, black);
    border-radius: 10px;

}